/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.container {
    padding: 0 5px;
    margin: 0 auto;
}

@media (min-width : 440px) {
    .container {
        width: 420px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Strat Variable */
:root {
    --main-color: #59ab6e;
    --background-main-color: #e9eef5;
    --hover-color: #198754;
    --main-text: #212529;
    --p-color: #bcbcbc;
    --p-hover-color: #6c757d;
    --footer-color: #212934;
    --footer-color2: #1d242d;
    --footer-p-color: #dcdde1;
    --footer-icon-color: #cfd6e1;
    --padding-top: 100px;
}

/* End Variable */

/*Start nav */
.navmain {
    height: 40px;
    background-color: var(--footer-color);
}

.navmain .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navmain .nav1 a:first-child {
    margin-right: 10px;
}

.navmain .container a,
i {
    color: var(--footer-p-color);
    transition: .3s;
}

.navmain .nav1 i {
    font-size: 12px;
    margin: 0px 3px;
}

.navmain .nav1 a {
    font-size: 12px;
}

.navmain a:hover,
.navmain i:hover {
    color: var(--p-color);
}

/*End nav */

/*Start Header */
header {
    height: 80px;
    box-shadow: 0px 13px 11px -10px #00000031;
    position: relative;
    z-index: 999;
}

header .logo a {
    font-size: 33px;
    font-weight: 800;
    color: var(--main-color);
    transition: .5s;
    display: block;
}

header .logo a:hover {
    translate: 0 -5px;
}

header .container,
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav ul {
    gap: 75px;
}

header nav a,
header .icon i {
    font-size: 21px;
    color: var(--main-text);
    transition: .3s;
    flex: 1;
}

header .icon i {
    margin: 0 10px;
    cursor: pointer;
}

header nav a:hover,
header .icon i:hover {
    color: var(--hover-color);
}

/* Responsive header */

@media (max-width:999px) {
    header .icon {
        display: none;
    }
}

@media (max-width:767px) {
    header nav ul {
        gap: 30px;
    }

    header nav a,
    header .icon i {
        font-size: 17px;
    }
}

/*End Header */

/* Start Landing */
.landing {
    height: calc(100vh - 120px);
    background-color: var(--main-color);
}

.landing .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.landing .text h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500;
}

.landing .text p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    padding-top: 18px;
}

.landing img {
    max-width: 40%;
}

/* Responsive Landing */

@media (max-width:767px) {
    .landing .container {
        flex-direction: column;
        justify-content: center;
    }

    .landing img {
        max-width: 70%;
    }
}

/* End Landing */
/* Start Section_Services */
.services {
    height: 85vh;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.services .text-serv h2 {
    text-align: center;
    font-size: 45px;
    color: var(--main-text);
}

.services .text-serv p {
    text-align: center;
    font-size: 18px;
    color: var(--p-color);
    padding: 0 230px;
}

.services .servs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.services .serv {
    box-shadow: 0px 0px 10px 3px #00000031;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}

.services .serv i {
    font-size: 70px;
    color: var(--main-color);
    transition: .3s;
}

.services .serv h3 {
    transition: .3s;
}

.services .serv:hover {
    background-color: var(--main-color);
}

.services .serv:hover>i,
.services .serv:hover>h3 {
    color: #fff;
}

/* Responsive Section-Services */

@media (max-width: 992px) {
    .services .text-serv p {
        padding: 0 80px;
    }

    .services .servs {
        justify-content: space-around;
    }

    .services .container {
        gap: 50px;
        padding-top: var(--padding-top);
    }
}

@media (max-width:767px) {
    .services {
        height: auto;
        padding-bottom: 50px;
    }

    .services .text-serv p {
        padding: 0;
    }

    .services .servs {
        flex-direction: column;
        justify-content: space-between;
    }
}

/* End Section_Services */
/* Start Brands */

.brands {
    height: 50vh;
    background-color: var(--background-main-color);
}

.brands .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.brands .text-brand h2 {
    text-align: center;
    font-size: 45px;
    color: var(--main-text);
}

.brands .text-brand p {
    text-align: center;
    font-size: 18px;
    color: var(--p-color);
    padding: 0 230px;
}

.brands .brand {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.brands .brand img {
    max-width: 9%;
    filter: grayscale(100%);
    opacity: .5;
    cursor: pointer;
    transition: .3s;
}

.brands .brand img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.brands .brand i {
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.brands .brand i:hover {
    color: var(--p-hover-color);
}

/* Responsive Brands */
@media (max-width:767px) {
    .brands .text-brand p {
        padding: 0;
    }

    .brands .brand img {
        max-width: 18%;
    }
}

/* End Brands */
/* Start Footer */
footer {
    background-color: var(--footer-color);
    height: 700px;
}

footer p,
footer a,
footer i,
footer span,
footer h3 {
    color: var(--footer-p-color);
    transition: .3s;
}

footer a:hover {
    color: var(--main-color);
}

footer .container:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 70px;
    height: 100%;
    padding-top: 40px;
}

footer .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

footer .info .one,
.two,
.three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100%/3);
}

footer .info .one h3 {
    color: var(--main-color);
}

footer .info h3 {
    font-size: 35px;
    font-weight: 500;
    position: relative;
    margin-bottom: 50px;
}

footer .info h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #2d343f;
    bottom: -25px;
    left: 0;
}

footer .info a,
footer .info span,
i {
    font-size: 22px;
}

footer .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

footer .social::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #2d343f;
    top: -60px;
    left: 0;
}

footer .social i {
    font-size: 29px;
    border: 1px solid var(--p-hover-color);
    border-radius: 50%;
    padding: 25px 0;
    width: 57px;
    text-align: center;
}

footer .social a {
    width: 57px;
    display: inline-block;
    border-radius: 50%;
    transition: .3s;
}

footer .social a:hover {
    background-color: var(--footer-p-color);
}

footer .social a:hover i {
    color: var(--footer-color);
}

footer .social form input[type="email"] {
    outline: 0;
    width: 300px;
    height: 51px;
    border: 1px solid var(--footer-p-color);
    font-size: 19px;
    color: var(--footer-p-color);
    background-color: var(--footer-color);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 20px;
}

footer .social form input[type="email"]::placeholder {
    padding-left: 10px;
    transition: .3s;
}

footer .social form input[type="email"]:focus::placeholder {
    opacity: 0;
}

footer .social form input[type="submit"] {
    outline: 0;
    font-size: 22px;
    width: 90px;
    color: #fff;
    background-color: var(--main-color);
    height: 51px;
    border: 0;
    cursor: pointer;
    transition: .3s;
    position: relative;
    left: -6px;
    bottom: -1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

footer .social form input[type="submit"]:hover {
    background-color: var(--hover-color);
}

footer .copyright {
    background-color: var(--footer-color2);
    height: 95px;
}

footer .copyright .container {
    display: block;
}

footer .copyright a {
    font-size: 22px;
    text-decoration: underline;
}

/* Responsive Footer */
@media (max-width:767px) {

    footer {
        height: auto;
    }

    footer .info {
        flex-direction: column !important;
        gap: 40px;
    }

    footer .social {
        flex-direction: column !important;
        gap: 20px;
    }

    footer .social::before {
        top: -40px;
    }

    footer .info .one,
    .two,
    .three {
        width: 100%;
    }

    footer .info h3 {
        margin-bottom: 25px;
    }

    footer .social {
        margin-bottom: 30px;
    }

    footer .copyright span,
    footer .copyright a {
        font-size: 18px;
    }
}

/* End Footer */